body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#progress-bar-container {
    width: 100%;
    background-color: #15171969;
    height: 4px;
    margin-bottom: .3em;
    margin-top: 5px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #28a745 !important;
    transition: width 0.5s ease;
}

#game-container {
    position: relative;
    width: 80%;
    max-width: 960px;
    height: 100vh;
    max-height: 540px;
    background-image: linear-gradient(-57deg, #0048dc 3%, #0781cc 85%) !important;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 3px 0;
}

#game-container::before {
    content: '';
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    width: 259px;
    height: 261px;
    background-image: url('img/mines-star.svg');
    background-size: cover;
}

#game-container::after {
    content: '';
    position: absolute;
    right: -25px;
    top: 45%;
    transform: translateY(-50%);
    width: 154px;
    height: 305px;
    background-image: url('img/mines-bomb.svg');
    background-size: cover;
}

#cashout-btn {
    background-image: radial-gradient(44% 44% at 49.36% 52%, #dba355 0%, #c4872e 100%);
    border-radius: 20px;
    height: 50px;
    position: relative;
    flex-direction: column;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052, inset 1px 1px #fff1cd33;
    border: 2px solid rgba(0, 0, 0, .9);
    width: 240px;
    align-items: center;
    justify-content: center;
    outline: none;
}

#cashout-btn:focus,
#cashout-btn:active {
    outline: none; /* Remove outline on focus and active */
    box-shadow: none; /* Remove box-shadow on focus and active */
}

#cashout-amount{
    min-width: 48px;
    height: 15px;
    background: rgba(0, 0, 0, .41);
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
}

.relative-block{
    position: relative;
}

.top-banner {
    width: 98.5%;
    height: 30px;
    background: rgba(0, 0, 0, .3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 5px;
}
.bottom-banner {
    width: 98.5%;
    height: 65px;
    background: rgba(0, 0, 0, .3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 5px;
}

.how-to-play {
    background-image: linear-gradient(to bottom, #f9a119, #f38410);
    box-shadow: none;
    color: black;
    border: none;
    border-radius: 17px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    height: 22px;
    width: 150px;
}

.question-icon {
    width: 18px;
    height: 18px;
    padding-right: 15px;
    filter: brightness(0) invert(0);
}

.currency {
    color: white;
    margin-left: auto;
    padding-right: 10px;
}

.symbol{
    opacity: 0.5;
}

.reload-btn {
    background-image: radial-gradient(circle at 50% 50%, #0576dc, #025cd5 68%);
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052, inset 1px 1px #fff1cd33;
    border: 2px solid rgba(0, 0, 0, .9);
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .65;
}

.reload-btn img {
    opacity: 0.6;
}

.bet-btn {
    color: white;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 36px;
    height: 32px;
    position: relative;
    font-size: 14px;
    line-height: 1px;
    background-color: #0267a5;
    margin: 2px;
}

#bet-input {
    width: 142px;
    height: 18px;
    border-radius: 11px;
    border: solid 1px rgba(0, 0, 0, .6);
    background-color: #0000004d;
    text-align: center;
    color: white;
    font-weight: 600;
}

.keypad {
    display: none;
    position: absolute;
    width: 234px;
    bottom: 60px;
    background-color: #0267a5;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.keypad-row {
    display: flex;
    justify-content: space-between;
}

.keypad-btn {
    background-color: #0267a5;
    color: white;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 8px;
    padding: 10px;
    height: 34px;
    width: 33%;
    font-size: 22px;
    cursor: pointer;
    font-weight: 400;
    line-height: 0;
}

.apply-btn {
    width: 100%;
    margin-top: 0;
    background: rgba(0, 0, 0, .3);
}

.delete-btn {
    opacity: .7;
}

.disabled {
    opacity: 0.65;
    pointer-events: none;
}

#dropdown-menu {
    display: none;
    position: absolute;
    bottom: 60px;
    background: #032e49;
    border-color: #082130;
    color: #c6d6e0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    width: 300px;
    left: 33%;
    transform: translateX(-50%);
}

#dropdown-menu.show {
    display: block;
}

.dropdown-header {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    background: #032e49;
    color: white;
}

.dropdown-content {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
}

.dropdown-item {
    color: #fff;
    padding: 0;
    height: 26px;
    line-height: 26px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    background-color: #094164 !important;
}

.dropdown-item:hover {
    background-color: #555;
}

.selected {
    background-color: #0267a5 !important;
}

#minesweeper-field {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.cell {
    width: 79px;
    height: 60px;
    background-image: url('img/field.png');
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
}

.open-cell {
    background-image: url('img/dark-field.png');
}

.cell.animate {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.cell.flipped {
    transform: rotateY(180deg);
}

.cell.animate{
    transform: rotateY(180deg);
}


.cell .front, .cell .back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cell .back {
    transform: rotateY(180deg);
}

.mine-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
    gap: 10px;
    background-color: #15171969;
    border-radius: 10px;
}

.next-btn {
    background-color: #ffc107;
    color: #343a40;
    border: none;
    padding: 9px 15px;
    cursor: pointer;
    font-size: 12px;
    height: 11px;
    line-height: 1px;
    border-radius: 12px;
}

#mine-count {
    background-color: #0267a5;
    color: white;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: inset 1px 1px #fff1cd33;
    width: 120px;
    height: 20px;
    line-height: normal;
    font-size: 12px;
    position: relative;
    margin-right: 15px;
    overflow-y: hidden;
}

#mine-count option {
    background-color: #0267a5;
    color: white;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 120px;
}

.select-selected {
    background-color: #0267a5;
    font-size: 12px;
    color: white;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 10px;
}

.select-items {
    position: absolute;
    background: #032e49;
    border-color: #082130;
    color: #c6d6e0;
    border-radius: 8px;
    padding: 10px;
    max-height: 200px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    z-index: 99;
    width: 100%;
}

.select-items div {
    text-align: center;
    border: solid 1px rgba(0, 0, 0, .43);
    border-radius: 13px;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    height: 2px;
    line-height: 0.5;
    margin-bottom: 10px;
    background-color: #094164;
}

.select-items div:hover, .same-as-selected {
    background-color: #0267a5 !important;
}

.select-hide {
    display: none;
}

#mine-count:focus {
    max-height: 100px;
    overflow-y: auto;
}

.menu-icon {
    position: relative;
    width: 12px;
    height: 12px;
    padding: 5px;
    background: #0267a5;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-arrow {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.bet-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
    background-color: #0267a5;
    border: 1px solid rgba(0, 0, 0, .53);
    box-shadow: inset 1px 1px #fff1cd33;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.opacity-50 {
    opacity: 0.5;
}

#bet-btn {
    background-image: radial-gradient(circle at 50% 50%, #61a503, #2d7500 94%);
    border-radius: 20px;
    height: 50px;
    width: 242px;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052, inset 1px 1px #fff1cd33;
    border: 2px solid rgba(0, 0, 0, .9);
    outline: none;
}

#bet-btn .icon-play {
    position: absolute;
    left: 10%;
    margin-right: 10px;
}

.game-controls {
    display: flex;
    max-width: 95%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.control-btn {
    background-color: #0267a5;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: inset 1px 1px #fff1cd33;
    opacity: .65;
    width: 50%;
    height: 30px;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, .5);
}

.auto-game-control {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0, 0, 0, .3);
    border-radius: 13px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    min-width: 180px;
    width: 50%;
    padding-left: 3px;
}

.auto-game-icon {
    width: 24px;
    height: 24px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-left: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.bet-btn, #cashout-btn {
    cursor: pointer;
}

.bet-btn:active, #cashout-btn:active {
    transform: scale(0.10);
    transform: translateY(1px);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    background-color: #ffffff42;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #5ba100;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.mines-btn {
    background-color: #0267a5;
    color: white;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: inset 1px 1px #fff1cd33;
    width: 120px;
    height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    margin-right: 15px;
}

.mines-btn .arrow-icon {
    width: 10px;
    height: 10px;
    fill: white;
    position: absolute;
    right: 10px;
}

.bottom-banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 15px;
}

.bottom-banner__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

#cashout-amount-display
{
    color: #fff !important;
    background-color: #15902d !important;
    border: 1px solid #0e2d16 !important;
    font-size: 14px;
    font-weight: 400 !important;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 16px;
    padding-bottom: 3px;
    padding-top: 3px;
}

#cashout-display{
    display: none;
    font-size: 13px;
    color: #fff;
    background-color: #15902d;
    border: 1px solid #0e2d16;
    margin-bottom: 0 !important;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    position: absolute;
    right: 12%;
}

.mobile-bottom-block{
    display: none;
}

@media screen and (max-width: 670px) {
    .mobile-bottom-block {
        display: flex;
    }

    .currency{
        font-size: 14px;
    }

    .mobile-bottom-block__left{
        display: flex;
        align-items: center;
    }

    .mobile-bottom-block__right__sum .symbol{
        color: white;
        opacity: 1;
        margin-right: 5px;
    }

    .mobile-bottom-block__right{
        display: flex;
    }

    .mobile-bottom-block__right__btn{
        background: #30b866;
        color: white;
        border-radius: 7px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .mobile-bottom-block__right__sum{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .mobile-bottom-block {
        display: none; /* Initially hide the element */
        color: white;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        font-size: 14px;
    }

    .arrow-icon-left {
        transform: rotate(90deg);
        margin-right: 5px;
    }

    body{
        flex-direction: column;
        width: 97.5%;
        margin: 0 auto;
    }
    #game-container {
        width: 100%;
        max-height: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }
    .mob-padding {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #minesweeper-field {
        margin: auto;
        border-top: none;
    }
    .game-controls {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 185px;
        width: 98%;
        display: flex;
        justify-content: center;
    }
    .top-banner {
        width: 96%;
        position: absolute;
        bottom: 0;
        background: transparent;
    }
    .bottom-banner {
        width: 99%;
        height: auto;
        flex-direction: column;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }
    .bottom-banner__flex {
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 10px;
    }
    .bet-controls {
        order: 2;
        margin-top: 10px;
    }
    .relative-block {
        width: auto;
    }
    .mine-selection{
        width: 100%;
        position: relative;
    }
    .mine-selection::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 4px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0 0 10px 10px;
    }
    .mines-btn{
        margin-right: 5px;
    }
    .question-icon{
        padding-right: 0;
    }
    .how-to-play {
        width: 25px;
        padding: 10px;
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .how-to-play::after {
        content: none;
    }
    .how-to-play img {
        padding-left: 9px;
        margin: 0;
    }
    #bet-input{
        height: 20px;
        font-size: 16px;
    }
    .keypad{
        left: -10% !important;
    }
    #dropdown-menu{
        bottom: 11% !important;
        left: 50% !important;
    }
    .bet-controls{
        width: 270px;
    }
    .cell{
        width: 70px;
        height: 55px;
        background-image: url(img/field.png);
        background-size: contain;
        border-radius: 5px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
    }
    #cashout-display{
        right: 31% !important;
    }

    #game-container::after, #game-container::before{
        display: none;
    }

    .bottom-banner__text{
        margin-right: 0;
    }
    .open-cell {
        background-image: url('img/dark-field.png');
    }
    .control-btn{
        font-size: 13.5px;
    }
    .select-selected{
        height: 20px;
    }
    .next-btn{
        padding: 12px 18px;
    }
    .mine-selection{
        margin: 1px 0;
    }
    .mob-padding{
        display: none;
    }
}